<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="#" th:action="@{/survey}" th:object="${data}" method="post">
        What is your name? <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/><br/>

        What is your Quest? <textarea rows="6" style="width: 286px; height: 146px;" type="text" th:field="*{quest}"/>
        <span th:if="${#fields.hasErrors('quest')}" th:errors="*{quest}"/><br/>

        <div th:switch="${data.number}">
            <div th:case="1">
                What is your favorite color? <input type="text" th:field="*{color}"/>
                <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}"/><br/>
            </div>

            <div th:case="2">
                What is the airspeed velocity of an unladen swallow? <input type="text" th:field="*{speed}"/>
                <span th:if="${#fields.hasErrors('speed')}" th:errors="*{speed}"/><br/>
            </div>

        </div>

        <input type="submit" value="Answer"/>
    </form>

    <br/>
    <img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1563305582/unbenannt-2_nkds9q.gif" alt="standing knight image"/>

</body>
</html>