<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="#" th:action="@{/survey}" th:object="${data}" method="post">
        What is your name? <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/><br/>

        What is your Quest? <textarea rows="4" type="text" th:field="*{quest}"/>
        <span th:if="${#fields.hasErrors('quest')}" th:errors="*{quest}"/><br/>

        <p th:text="${myquestion}"></p>

        <input type="submit" value="Answer"/>
    </form>

    <br/>
    <img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1563305582/unbenannt-2_nkds9q.gif" alt="standing knight image"/>

</body>
</html>